@import "tailwindcss";

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.navbar {
  background-image: url("/lastank.jpg");
}

