@import url('https://fonts.googleapis.com/css2?family=League+Script&display=swap');
@import "tailwindcss";

.league-script-regular {
  font-family: "League Script", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.md-navbar {
  background-image: url("/lastank.jpg");
}

